.dl-horizontal{

    dd{

        small{
            display: block;
            color: #999;
            padding-bottom: 10px;
            font-size: 1em;
        }
    }

}

.list-options-box{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 8px;
}