.row-m-t{
  margin-top : 20px
}



.cover{
    width: 100%;
    left: 0;
}

#form {
    // padding:20px 0px;
    // background-color:#0f0;


    label.error{
        position: absolute;

    }

    .control-group {
        // margin-bottom: 30px;
        min-height: 50px;
    }


}


footer{
    width: 100%;
    // background-color: #f0f;
}
