
@media (min-width: 1200px){
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 640px;
    }
}



.cover{
    width: 100%;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    .cover-image{
        width: 100%;
    }
}


.footer{
    width: 100%;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    .footer-image{
        width: 100%;
    }
}

.form-wrapper{
    // padding:20px;
    max-width: 520px;
    margin: auto;
}

#form {
    // padding:20px 0px;
    // background-color:#0f0;

    .control-label {

        span.required{
            color: #dd0000;
            font-weight: bold;
        }

    }


    &.form-horizontal{

        .control-label {
            float: left;
            // text-align: right;
            // width: 30%;
            width: 160px;
            padding-right: 20px;
            padding-top: 5px;

            span.required{
                color: #dd0000;
            }
        }

        .controls{
            float: left;
            width: calc( 100% - 160px);
            position: relative;
        }
    }


    h1.title{

    }

    div.description{

    }

    label {

        margin-bottom: .25rem;


        &.error{
            // position: absolute;
            // z-index: 10;
            // margin-top: 2px;
            // margin-left: 5px;
            color: #f00 !important;
            font-size: 0.85em !important;
        }

    }


    .control-group {
        // margin-bottom: 30px;
        min-height: 45px;
    }


    .form-actions{
        margin-top: 20px;
        width: 100%;
        float: left;
    }

    .form-group {
        // margin-bottom: 1.5rem;
        margin-bottom: 0px;
        display: flex;


        &.field-inline{

            width: 100%;
            display: table-cell;
            padding-bottom: 10px;
            // padding-right: 10px;

            &:last-of-type{
                background-color: #0f0;
            }

            .controls{
                width: auto;
                float: none;
                // input,select{
                //     width: 20%;
                // }

            }
        }






        &.half {
            width: 50%;
            float: left;
            padding-right: 30px;
            position: relative;
        }
    }




}


footer{
    width: 100%;
    // background-color: #f0f;
}


select.form-control:not([size]):not([multiple]) {
    height: 38px;
}