

.btn.xsmall{padding:3px 6px 3px;font-size:10px;}

.form-stacked{
  padding-left: 0;
}


.tab-content{
  background-color: #fff;
  padding: 30px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


.field-wrapper {
  display: block;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 10px 15px 10px;
  border: 1px solid transparent;
  margin: 0px 0px 10px 0px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.field-wrapper * {
  cursor: pointer;
}
.field-wrapper:hover {
  border: 1px dashed #4da4eb;
}
.field-wrapper.selected {
  border: 1px solid #4da4eb;
  background-color: #bce2ff;
}

span.required {
  color: red;
}

.add-field-pane .btn {
  width: calc(50% - 20px);
  margin: 0px 10px 5px 0px;
}
